/* fonts */
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
}

:root {
  --color-primary-dark: #011c44;
  --color-primary-light: #fff;
  --color-secondary-dark: #4a4a4a;
  --color-secondary-grey: #747272;
  --color-brand: #2b7fff;
}

/* Base */
* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 24px;
}

/* Header */
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.nav-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.nav-social-link {
  display: flex;
  gap: 32px;
}

/* Navigation */
.nav-link {
  color: var(--color-primary-dark);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--color-brand);
}

/* Hero Section */
.hero-title {
  color: var(--color-brand);
  font-family: Play, sans-serif;
  font-size: 140px;
  line-height: 0.8;
}

.hero-text-content {
  padding: 124px 0;
  max-width: 500px;
}

.button {
  margin-bottom: 14px;
  padding: 20px 40px;
  color: var(--color-primary-light);
  background-color: var(--color-brand);
  border: none;
  border-radius: 32px;
  font-weight: 600;
}

.under-button-info {
  color: var(--color-secondary-dark);
  font-size: 12px;
  text-align: center;
  max-width: 200px;
}

/* About Us Section */
.section-title {
  color: var(--color-primary-dark);
  font-family: Play, sans-serif;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 48px;
}

.accent {
  color: var(--color-brand);
}

.about-us-container {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}

.about-us-content {
  max-width: 710px;
}

.about-us-title {
  margin-bottom: 40px;
  text-align: left;
}

.about-us-text {
  font-size: 22px;
}

.about-us-text .bold-text {
  font-weight: 600;
}

/* Why Us section */
.why-us-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
}

.why-us-list {
  display: flex;
  gap: 56px;
}

.why-us-card {
  padding: 24px 32px;
  background-color: var(--color-primary-light);
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
  border-radius: 32px;
}

.why-us-text {
  text-align: center;
}

/* Procedures section */
.procedures-title {
  color: var(--color-primary-light);
  font-size: 22px;
  font-weight: 400;
}

.procedures-list {
  display: flex;
  gap: 16px;
}

.procedure-item {
  flex-basis: calc((100% - 32px) / 3);
}

.procedure-card {
  padding: 372px 80px 32px 80px;
  background-color: #011c44;
  border-top-right-radius: 120px;
  border-bottom-left-radius: 120px;
  text-align: center;
}

/* Contact */

/* Footer */
footer {
  background-color: #011c44;
}
.footer-nav-link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 16px;
}

.footer-nav-link:hover {
  color: var(--color-brand);
}

.address-link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 16px;
}

.address-copyright {
  color: var(--color-secondary-grey);
  font-size: 13px;
}
